.header{
  margin-top: 40px;
  text-align: center;
  font-size: 53px;
  font-weight: 700;
  color: #351652;
}
.input-feild{
  margin: 32px 0 30px 443px;
  width: 350px;
  padding: 4px 10px;
}
.btn-color{
  background-color: #351652;
  color: white;
  padding: 4px 10px;
}
.btn-all{
  background-color: #351652;
  color: white;
  margin: 10px 10px 10px 20px;
  padding: 4px 10px;
  border-radius: 5px;
}
.btn-section{
  margin-left: 434px;;
}
.images-section{
  margin-left: 327px;
  width: 800px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
img:hover{
  transform: scale(1.3);
  cursor: pointer;
}
img{
  width: 150px;
  height: 100px;
}
.container{
  text-align: center;
  margin: 19px 0px 34px 62px;
  color:#351652;
}